@font-face {
  font-family: "Abel";
  src: url(Abel/Abel-Regular.ttf) format("truetype");
}

body {
  margin: 0 auto;
  padding: 0;
  background-image: url(Images/library.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 100px;
  background-color: #e8e8e8ce;
  box-shadow: 0px 10px 10px grey;
}

#logo {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}

#nav-heading {
  display: inline-block;
  font-family: Abel;
  font-size: 24px;
  font-weight: 600;
  margin-top: 35px;
  margin-left: 10px;
}

nav {
  list-style: none;
  float: right;
  margin-top: 0px;
  padding: 0px;
}

nav li,
button {
  display: inline-block;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: -5px;
  padding: 23px;
  font-family: Abel;
  font-size: 24px;
  font-weight: 600;
  outline: none;
}

nav button {
  display: inline-block;
  margin-left: 10px;
  padding: 23px;
  background-color: transparent;
  border: none;
}

nav a,
button {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: lightseagreen;
}

nav button:hover {
  color: lightseagreen;
}

@media screen and (max-width: 1000px) {
  #nav_home,
  #nav_login,
  #nav_register {
    display: none;
  }
}

#welcome-content {
  margin-top: 110px;
  text-align: center;
}

#welcome-content i {
  display: inline-block;
  font-size: 30px;
  color: black;
}

#welcome-content i:hover {
  color: lightseagreen;
}

#search button {
  display: inline-block;
  margin-left: -20px;
  background-color: transparent;
  border: none;
}

#search input {
  border-radius: 20px;
  outline: none;
  font-family: Abel;
}

#search input[type="text"] {
  padding: 10px;
  border-color: lightseagreen;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 15px;
  width: 60%;
  height: 30px;
}

#catalogue {
  width: 90%;
  height: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebebebd2;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

#catalogue p {
  font-family: Abel;
  font-size: 30px;
  font-weight: 600;
}

#slideshow {
  overflow: hidden;
  margin-top: 30px;
  height: 510px;
  width: 100%;
}

#slide-wrapper {
  width: 8000px;
  animation: slide 18s ease infinite;
}

#slide {
  float: left;
  height: 500px;
  width: 450px;
  margin-left: -50px;
}

#slide-image {
  display: inline-block;
}

.slide-text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 10px;
  font-family: Abel;
  font-size: 24px;
  font-weight: 600;
}

.slide-text button {
  background-color: lightseagreen;
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 30%;
  margin-left: 0;
  margin-top: 5px;
}

.slide-text button:hover {
  background-color: red;
}

#availability {
  margin-left: 0;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -728px;
  }
  50% {
    margin-left: -728px;
  }
  60% {
    margin-left: -1456px;
  }
  70% {
    margin-left: -1456px;
  }
  80% {
    margin-left: -2184px;
  }
  90% {
    margin-left: -2184px;
  }
}

.modal_container {
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  background: rgba(2, 70, 88, 0.8);
  transition: all 500ms ease;
}

.modal_container:target {
  opacity: 1;
  pointer-events: auto;
}

.modal_container > div {
  transform: translate(0px, -50px);
  transition: all 500ms ease;
}

.modal_container:target > div {
  transform: translate(0px, 0px);
}

.modal {
  width: 350px;
  height: 350px;
  margin-right: 600px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #e8e8e8ee;
  border: 2px solid #222;
  padding: 20px;
  box-shadow: 0px 0px 50px 5px black;
}

.modal_heading {
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 60px;
  margin-bottom: 30px;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 20pt;
  font-family: Abel;
  border-bottom: 2px solid #fefefe;
}

.modal input {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  border: 0px;
  font-family: Abel;
  font-size: 11pt;
  text-align: center;
}

.btnRegister {
  background: lightseagreen;
  color: black;
  font-family: Abel;
  font-size: 15pt;
  margin-top: 10px;
}
.btnRegister:hover {
  background: red;
}
.close {
  color: white;
  position: absolute;
  border: 2px solid #333;
  padding: 7px 9px 11px 9px;
  font-family: Abel;
  background: red;
  text-decoration: none;
  top: -20px;
  right: -20px;
  border-radius: 20%;
  transition: background 500ms;
}

.close:hover {
  background: red;
  cursor: pointer;
}

.signin {
  color: black;
  display: inline-block;
  margin-top: 15px;
  text-align: left;
  float: left;
  text-decoration: none;
  font-size: 13pt;
  font-family: Abel;
}
.forgotPassword {
  color: black;
  display: inline-block;
  margin-top: 15px;
  text-align: right;
  float: right;
  text-decoration: none;
  font-size: 13pt;
  font-family: Abel;
  margin-right: 32%;
}

.signin:hover,
.forgotPassword:hover {
  text-decoration: underline;
}

.modal_container_register {
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  background: rgba(2, 70, 88, 0.8);
  transition: all 500ms ease;
}

.modal_container_register:target {
  opacity: 1;
  pointer-events: auto;
}

.modal_container_register > div {
  transform: translate(0px, -50px);
  transition: all 500ms ease;
}

.modal_container_register:target > div {
  transform: translate(0px, 0px);
}

.modal_register {
  width: 350px;
  height: 400px;
  margin-right: 600px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #e8e8e8ee;
  border: 2px solid #222;
  padding: 20px;
  box-shadow: 0px 0px 50px 5px black;
}

.modal_register input {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  border: 0px;
  font-family: Abel;
  font-size: 11pt;
  text-align: center;
}

.modal_heading_register {
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 60px;
  margin-bottom: 30px;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 20pt;
  font-family: Abel;
  border-bottom: 2px solid #fefefe;
}

.btnRegister_register {
  background: lightseagreen;
  color: black;
  font-family: Abel;
  font-size: 15pt;
  margin-top: 10px;
}
.btnRegister_register:hover {
  background: red;
}
.close_register {
  color: white;
  position: absolute;
  border: 2px solid #333;
  padding: 7px 9px 11px 9px;
  font-family: Abel;
  background: red;
  text-decoration: none;
  top: -20px;
  right: -20px;
  border-radius: 20%;
  transition: background 500ms;
}

.close_register:hover {
  background: red;
  cursor: pointer;
}

.signin_register {
  color: black;
  display: inline-block;
  margin-top: 15px;
  text-align: left;
  float: left;
  text-decoration: none;
  font-size: 13pt;
  font-family: Abel;
  margin-left: 27%;
}

.signin_register:hover,
.forgotPassword:hover {
  text-decoration: underline;
}

footer {
  background-color: #373737;
  color: white;
  text-align: center;
  margin: 0px;
  border-radius: 20px;
  height: 160px;
  margin: 40px;
}
#footerContact p {
  font-family: Abel;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  padding: 50px;
}

#xub_logo {
  float: left;
  height: 90px;
  width: 90px;
  margin-top: 35px;
  margin-left: 35px;
}

#xcomp_logo {
  float: right;
  height: 90px;
  width: 90px;
  margin-top: 35px;
  margin-right: 35px;
}
